@font-face {
    font-family: "GothamRoundedBold";
    src: url(../fonts/GothamRounded-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: "GothamRoundedMedium";
    src: url(../fonts/GothamRounded-Medium.otf);
    font-weight: normal;
}

body {
    font-family: "GothamRoundedBold";
    font-family: "GothamRoundedMedium";
    font-size: 16px;
    line-height: 1.8;

    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}


/*-------------------------------Header-----------------------------------*/
.header{
    width: 100%;
    position: absolute;
    z-index: 100;
    user-select: none;
}

#header_h1{
    position: center;
    visibility: hidden;
    height: 66px;
}

.header_nav{
    margin: 0 auto;
    letter-spacing: 2px;
    font-stretch: ultra-expanded;

}

.nav_link1{
    position: relative;
    margin: 0 0 0 272px;
    color: white;
    text-decoration: none;
    transition: color .1s linear;
}

.nav_link2{
    position: relative;
    margin: 0 0 0 60px;
    color: white;
    text-decoration: none;
    transition: color .1s linear;
}

.logo {
    position: absolute;
    margin-top: -26px;
    margin-left: 95px;
}

.nav_link3{
    position: relative;
    margin: 0 0 0 247px;
    color: white;
    text-decoration: none;
    transition: color .1s linear;
}

.nav_link4{
    position: relative;
    margin: 0 0 0 68px;
    color: white;
    text-decoration: none;
    transition: color .1s linear;
}

.nav_link1:hover, .nav_link2:hover, .nav_link3:hover, .nav_link4:hover{
    color: #16a085;
}

/*-------------------------------YourLife---------------------------*/
.yourLife {
    width: 100%;
    height: 745px;
    background:
            url(../images/BG.jpg) center no-repeat;
    user-select: none;

}

.yourLife_title{
    padding: 324px 0 0 9px;
    font-size: 35px;
    letter-spacing: 6px;
    text-align: center;
    color: white;
    margin-bottom: -6px;
}

.yourLife_subtitle{
    margin: 0 0 19px 0;
    font-family: 'GothamRoundedMedium';
    font-size: 15px;
    letter-spacing: 3px;
    text-align: center;
    color: white;
}

#yourLife_button{
    margin-left: 557px;
    display: inline-block;
    padding: 16px 29px 13px 29px;
    border-radius: 3px;
    background-color: #16a085;

    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;

    transition: background .2s ease, color .2s ease;
}

#yourLife_button:hover{
    background-color: white;
    color: #16a085;
}

.yourLife_icons{
    margin: 210px 0;
    text-align: center;
    color: white;
    font-size: 25px;
    user-select: none;
    transition: color .1s ease;
}

#icon_flickr{
    margin: 0px 8px;
}

#icon_flickr, #icon_twitter, #icon_dribbble{
    transition: color .1s ease;
}

#icon_flickr:hover, #icon_twitter:hover, #icon_dribbble:hover {
    color:#16a085;
    cursor: pointer;
}

/*-------------------------------Represent----------------------------*/
.represent{
    width: 1280px;
    height: 492px;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    overflow: hidden;
    background-color: #f5f6f8;
}

.represent_title{
    width: 100%;
    max-width: 530px;
    padding: 108px 0 0 128px;
    font-size: 17px;
    letter-spacing: 3.5px;
    color: #16a085;
    text-transform: uppercase;
    line-height: 22px;
}

.represent_text{
    max-width: 560px;
    padding: 38px 0 0 128px;

    font-size: 11px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #636466;
}

.ex{
    color: black;
}

.text{
    margin: 0;
}

.represent_image{
    position: absolute;
    margin-left: 510px;
    margin-top: -219px;
}

.represent_button{
    display: inline-block;
    margin: 42px 0 0 128px;
    padding: 18px 45px 13px 45px;
    border-radius: 3px;
    background-color: #16a085;
    outline: none;

    font-size: 11px;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;

    transition: background .2s ease, color .2s ease;
}

.represent_button:hover{
    background-color: #f5f6f8;
    color: #16a085;
}


/*-------------------------------Design--------------------------*/
.design{
    width: 1280px;
    height: 558px;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.design_image{
    position: absolute;
    top: 146px;
    left: 124px;
}

.design_title{
    padding: 143px 0 0 768px;
    font-size: 17px;
    letter-spacing: 3px;
    color: #16a085;
    text-transform: uppercase;
    line-height: 22px;
}

.design_text{
    width: 100%;
    max-width: 440px;
    margin: -1px 0 0 769px;
    padding: 34px 0 0 0;
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 22px;
    color: #373737;
}

.design_button{
    display: inline-block;
    margin: 38px 0 0 768px;
    padding: 16px 44px 15px 44px;
    background-color: #16a085;
    outline: none;

    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;

    transition: background .2s ease, color .2s ease;
}

.design_button:hover{
    background-color: white;
    color: #16a085;
}

.design_switch_text{
    margin: 40px 0 0 768px;
    font-size: 11px;
}

.design_switch_angle{
    display: flex;
    justify-content: space-between;
    margin: -6px 0 0 768px;
    width: 42px;
}

#design_angle_left, #design_angle_right{
    transition: color .2s ease;
}

#design_angle_left:hover, #design_angle_right:hover{
    color: #16a085;
    cursor: pointer;
}

/*-------------------------------Our Community--------------------*/
.community{
    width: 1280px;
    height: 484px;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    overflow: hidden;
    background-color: #f5f6f8;
}

.community_switch_angle{
    display: flex;
    justify-content: space-between;
    margin: 86px 0 0 1113px;
    width: 39px;

}

#community_angle_left, #community_angle_right{
    transition: color .2s ease;
}

#community_angle_left:hover, #community_angle_right:hover{
    color: #16a085;
    cursor: pointer;
}

.community_model{
    display: flex;
    margin: 3px 129px 0 130px;
    justify-content: space-between;
}

.community_model_left_photo{

    margin: 44px 0 0 57px;
}

.community_model_left_title{
    margin: 15px 0 0 0;

    font-size: 16px;
    letter-spacing: 2px;
    color: #373737;
}

.community_model_left_subtitle{
    width: 177px;
    height: 177px;
    margin: 15px 0 0 0;
    text-align: center;
    font-size: 9px;
    letter-spacing: 2px;
    line-height: 12px;
    color: #636466;
}

.community_model_right{
    display: flex;
    justify-content: space-between;
    width: 766px;
}

.community_model_right_image{
    max-width: 371px;
    max-height: 244px;
}

/*-------------------------------Subscribe---------------------*/
.subscribe{
    width: 100%;
    height: 789px;
    background:
            url(../images/subscribe.jpg) center no-repeat;
    user-select: none;
}

.subscribe_title{
    padding: 341px 0 0 404px;
    font-size: 23px;
    letter-spacing: 4px;
    color: white;
}

.subscribe_inputForm{
    margin: 22px 0 0 467px;
}

.subscribe_inputEmail{
    width: 281px;
    height: 60px;
    padding-left: 22px;

    border-radius: 3px 0 0 3px;
    background-color: white;
    border: 0;

    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    color: black;
}

.subscribe_button{
    width: 62px;
    height: 60px;
    vertical-align: bottom;
    margin-left:  -5px;
    border-radius: 0 3px 3px 0;
    border: 0;
    padding: 0;
    background-color: #16a085;
}

#subscribe_button_icon{
    color: white;
    font-size: 23px;
    transition: color .2s ease;
}

#subscribe_button_icon:hover{
    cursor: pointer;
    color: black;
}

/*-------------------------------Download---------------------*/
.download{
    height: 396px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    overflow: hidden;
    background-color: #f5f6f8;
}

.download_text{
    text-align: center;
    margin-top: 82px;
}

.download_text_title{
    font-size: 20px;
    letter-spacing: 3px;
    color: #373737;
}

.download_text_subtitle{
    height: 70px;
    width: 870px;
    margin: 1px auto 0 auto;
    font-size: 11px;
    letter-spacing: 0.63mm;
    line-height: 22px;
    color: #373737;
    text-transform: uppercase;
}

.download_button{
    display: flex;
    justify-content: space-between;
    width: 616px;
    margin: 50px auto 0 auto;
}


.download_button_appleStore_text{
    padding: 21px 78px 16px 25px;
    border-radius: 3px 0 0 3px;
    background-color: #1abc9c;

    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;

    transition: background-color .2s ease, color .2s ease;
}

.download_button_appleStore_icon{
    margin: 0 0 0 -5px;
    padding: 21px 18px 16px 18px;
    border-radius: 0 3px 3px 0;
    background-color: #16a085;

    color: white;
}

#download_button_appleStore_icon{
    font-size: 26px;
}

.download_button_playStore{
    margin-top: -4px;
}

.download_button_playStore_text{

    padding: 20px 72px 16px 29px;
    border-radius: 3px 0 0 3px;
    background-color: #1abc9c;

    font-size: 17px;
    letter-spacing: 3px;
    text-decoration: none;
    color: white;

    transition: background-color .2s ease, color .2s ease;
}

.download_button_playStore_icon{
    margin: 0 0 0 -5px;
    padding: 21px 16px 16px 16px;
    border-radius: 0 3px 3px 0;
    background-color: #16a085;

    color: white;
}

#download_button_playStore_icon{
    font-size: 30px;
}

.download_button_appleStore_text:hover, .download_button_playStore_text:hover{
    color: black;
}

/*-------------------------------Footer---------------------*/
.footer{
    width: 1280px;
    margin: 0 auto 0 auto;
    height: 132px;
    user-select: none;
}

.footer_nav{
    padding: 40px 0 0 127px;

    font-size: 13px;
    letter-spacing: 3px;
}

.footer_nav_link{
    position: relative;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #373737;

    transition: color .2s ease;
}

.footer_nav a:not(:last-child)::after{
    position: absolute;
    display: inline-block;
    width: 2px;
    height: 90%;
    top: 0px;
    left: 85px;
    border-radius: 2px;
    background-color: #16a085;
    content: "";
    pointer-events: none;
}

.footer_nav_link:hover{
    color: #16a085;
}

.footer_text{
    margin: 14px 0 0 127px;
    font-size: 14px;
    letter-spacing: 2px;
    color: #373737;
}

.footer_logo {
    position: absolute;
    margin: -64px 0 0 1098px;
}